<div
  class="chirp clickable"
  (click)="onChirpClick()"
>

  <div
    class="chirpAuthorPictureBox"
    (click)="onAuthorClick()"
  >
    <img class="chirpAuthorPicture" [src]="chirp.author.picture" [alt]="chirp.author.username">
  </div>

  <div class="chirpBody">

    <div class="chirpHeader">

      <div class="chirpAuthorLine">
        <div
          class="chirpUsername"
          (click)="onAuthorClick()"
        >
          <p class="text-highlight">{{ chirp.author.username }}</p>
        </div>
        <div
          class="chirpHandle"
          (click)="onAuthorClick()"
        >
          <p class="text-light">@{{ chirp.author.handle }}</p>
        </div>
        <div class="chirpTimestamp">
          <p class="text-light">{{ chirp.timestamp | date: "le d MMMM à HH:mm" }}</p>
        </div>
      </div>
  
      <div
        class="chirpDeleteButton"
        (click)="onDeleteClick()"
        (mouseenter)="onDeleteMouseEnter()"
        (mouseleave)="onDeleteMouseLeave()"
      >
        <object *ngIf="!deleteHovered" type="image/svg+xml">
          <img class="miniIconButton" src="assets/svgIcons/delete_dark.svg"/>
        </object>
        <object *ngIf="deleteHovered" type="image/svg+xml">
          <img class="miniIconButton" src="assets/svgIcons/delete_accent1.svg"/>
        </object>
      </div>
  
    </div>
  
    <div class="chirpContent">
      <div class="chirpText">
        <p class="text-normal">{{ chirp.text }}</p>
      </div>
      <div *ngIf="chirp.image" class="chirpImageBox">
        <img class="chirpImage" [src]="chirp.image">
      </div>
    </div>
  
    <div class="chirpButtons">
  
      <div class="chirpStars">
        <div
          class="chirpStarButton"
          (click)="onStarClick()"
          (mouseenter)="onStarMouseEnter()"
          (mouseleave)="onStarMouseLeave()"
        >
          <object *ngIf="!chirp.starred && !starHovered" type="image/svg+xml">
            <img class="miniIconButton" src="assets/svgIcons/star_dark.svg"/>
          </object>
          <object *ngIf="!chirp.starred && starHovered" type="image/svg+xml">
            <img class="miniIconButton" src="assets/svgIcons/star_accent1.svg"/>
          </object>
          <object *ngIf="chirp.starred" type="image/svg+xml">
            <img class="miniIconButton" src="assets/svgIcons/star_filled_accent1.svg"/>
          </object>
        </div>
        <div class="chirpStarCount">
          <p
            class="text-small-light"
            [ngClass]="{ 'chirpStarredStarCount': chirp.starred }"
          >{{ chirp.starCount }}</p>
        </div>
      </div>
  
      <div class="chirpAnswers">
        <div
          class="chirpAnswerButton"
          (click)="onAnswerClick()"
          (mouseenter)="onAnswerMouseEnter()"
          (mouseleave)="onAnswerMouseLeave()"
        >
          <object *ngIf="!answerHovered" type="image/svg+xml">
            <img class="miniIconButton" src="assets/svgIcons/answer_dark.svg"/>
          </object>
          <object *ngIf="answerHovered" type="image/svg+xml">
            <img class="miniIconButton" src="assets/svgIcons/answer_accent1.svg"/>
          </object>
        </div>
        <div class="chirpAnswerCount">
          <p class="text-small-light">{{ chirp.replyCount }}</p>
        </div>
      </div>
  
    </div>

  </div>

</div>