* {
  display: flex;
}

.user-card {
  padding: 24px;
  border: solid var(--theme-border);
  transition: border 0.2s;
  border-width: 0 0 2px;
}

.info-block {
  flex-direction: column;
  width: 624px;
}

.bio-box {
  padding-top: 24px;
  width: 100%;
}
