<div
  class="chirp global__clickable"
  [ngClass]="{ 'chirp--focused': viewType === 'focused' }"
  (click)="onChirpClick()"
>

  <div class="global__profile-pic-box global__clickable" (click)="onAuthorClick($event)" *ngIf="viewType === 'normal'">
    <img
      class="global__profile-pic"
      [src]="authorProfilePicUrl"
      [alt]="chirp.username"
    >
  </div>

  <div class="body-block">

    <div class="header-block">

      <div class="author-block">

        <div class="global__profile-pic-box" (click)="onAuthorClick($event)" *ngIf="viewType === 'focused'">
          <img
            class="global__profile-pic"
            [src]="authorProfilePicUrl"
            [alt]="chirp.username"
          >
        </div>

        <div class="name-block" [ngClass]="{ 'name-block--focused': viewType === 'focused' }">

          <div class="username" (click)="onAuthorClick($event)">
            <a class="global__text-highlight">{{ chirp.username }}</a>
          </div>

          <div class="handle" (click)="onAuthorClick($event)">
            <p class="global__text-light">&nbsp;@{{ chirp.handle }}</p>
          </div>

        </div>

        <div *ngIf="viewType === 'normal'" class="timestamp">
          <p class="global__text-light">&nbsp;-&nbsp;le {{ chirp.timestamp | date: "d MMMM YYYY à HH:mm" }}</p>
        </div>

      </div>

      <div *ngIf="connectedUser.id === chirp.author_id"
        class="delete-button"
        (click)="onDeleteClick($event)"
        (mouseenter)="onDeleteMouseEnter()"
        (mouseleave)="onDeleteMouseLeave()"
      >
        <object *ngIf="!deleteHovered" type="image/svg+xml">
          <img class="global__mini-icon-button" src="assets/svgIcons/delete_dark.svg"/>
        </object>

        <object *ngIf="deleteHovered" type="image/svg+xml">
          <img class="global__mini-icon-button" src="assets/svgIcons/delete_warning.svg"/>
        </object>

      </div>
  
    </div>
  
    <div class="content-block" [ngClass]="{ 'content-block--focused': viewType === 'focused' }">

      <div class="text-content">
        <p *ngIf="chirp.reply_to_id" class="global__text-light">
          En réponse au&nbsp;
          <a (click)="onRepliedToChirpClick($event)">chirp</a>
          &nbsp;de&nbsp;
          <a (click)="onRepliedToAuthorClick($event)">@{{ repliedToChirp?.handle }}</a>
        </p>
        <p
          [ngClass]="{
            'global__text-normal': viewType === 'normal',
            'global__text-big': viewType === 'focused'
          }"
        >{{ chirp.text }}</p>
      </div>

      <div
        *ngIf="chirp.image"
        [ngClass]="{
          'image-content-box--normal': viewType === 'normal', 
          'image-content-box--focused': viewType === 'focused'
        }"
      >
        <img
          class="image-content"
          [ngClass]="{
            'image-content--normal': viewType === 'normal',
            'image-content--focused': viewType === 'focused'
          }"
          [src]="chirpImageUrl"
        >
      </div>

      <div
        *ngIf="viewType === 'focused'"
        class="timestamp"
        [ngClass]="{ 'timestamp--focused': viewType === 'focused' }"
      >
        <p class="global__text-light">Le {{ chirp.timestamp | date: "d MMMM YYYY à HH:mm" }}</p>
      </div>
    </div>
  
    <div class="button-block">
  
      <div class="star-block">
        <div
          class="star-button"
          (click)="onStarClick($event)"
          (mouseenter)="onStarMouseEnter()"
          (mouseleave)="onStarMouseLeave()"
        >
          <object *ngIf="!localStarred && !starHovered" type="image/svg+xml">
            <img class="global__mini-icon-button" src="assets/svgIcons/star_dark.svg"/>
          </object>
          <object *ngIf="!localStarred && starHovered" type="image/svg+xml">
            <img class="global__mini-icon-button" src="assets/svgIcons/star_accent1.svg"/>
          </object>
          <object *ngIf="localStarred" type="image/svg+xml">
            <img class="global__mini-icon-button" src="assets/svgIcons/star_filled_accent1.svg"/>
          </object>
        </div>
        <div class="star-count">
          <p
            class="global__text-small-light"
            [ngClass]="{ 'star-count--starred': localStarred }"
          >{{ localStarcount }}</p>
        </div>
      </div>
  
      <div class="reply-block">
        <div
          class="reply-button"
          (click)="onAnswerClick($event)"
          (mouseenter)="onAnswerMouseEnter()"
          (mouseleave)="onAnswerMouseLeave()"
        >
          <object *ngIf="!answerHovered" type="image/svg+xml">
            <img class="global__mini-icon-button" src="assets/svgIcons/answer_dark.svg"/>
          </object>
          <object *ngIf="answerHovered" type="image/svg+xml">
            <img class="global__mini-icon-button" src="assets/svgIcons/answer_accent1.svg"/>
          </object>
        </div>
        <div class="reply-count">
          <p class="global__text-small-light">{{ chirp.reply_count }}</p>
        </div>
      </div>
  
    </div>

  </div>

</div>