<div class="new-chirp">

  <div class="global__profile-pic-box global__clickable">
    <img
      class="global__profile-pic"
      [src]="connectedUser.pictureUrl$ | async"
      [alt]="connectedUser.username"
      (click)="onConnectedUserClick($event)"
    >
  </div>

  <form [formGroup]="newChirpForm" class="body-block" (ngSubmit)="onPublishClick()">
  
    <div class="content-block">
      <textarea
        id="chirpTextArea"
        autosize
        [minRows]="1"
        [placeholder]="placeholderText"
        class="text-content"
        formControlName="chirpText"></textarea
      >
      <div *ngIf="imagePreview" class="content-image-block">
        <div class="content-image-box">
          <img class="content-image" [src]="imagePreview">
        </div>
        <div class="remove-image-button" (click)="onRemoveImageClick()">
          <img class="global__mini-icon-button" src="assets/svgIcons/x_dark.svg"/>
        </div>
      </div>
    </div>

    <div class="button-block">
      <button class="global__accent-button publish-button" type="submit" [disabled]="newChirpForm.invalid">Publier</button>
      <div class="image-box">
        <input class="image-field global__clickable" type="file" accept=".png" (change)="onImageSelect($event)">
        <img src="assets/svgIcons/image.svg"/>
      </div>
    </div>

  </form>

</div>