* {
  display: flex;
}

.new-chirp {
  padding: 24px;
  border: solid var(--theme-border);
  border-width: 0 0 2px;
}

.body-block {
  flex-direction: column;
  width: 100%;
}

.content-block {
  padding: 24px;
  flex-direction: column;

  border: 2px solid var(--theme-border);
  border-radius: 24px;
}

.content-image-block {
  margin-top: 24px;
}

.content-image-box {
  width: 96px;
  height: 96px;
  border: 2px solid var(--theme-border);
  border-radius: 8px;
  overflow: hidden;
}

.content-image {
  object-fit: cover;
  max-width: 96px;
  width: 96px;
  max-height: 96px;
  height: 96px;
}

.remove-image-button {
  margin-left: 8px;
  align-self: flex-end;
}

.button-block {
  margin-top: 24px;
  flex-direction: row-reverse;
}

.image-box {
  min-height: 48px;
  height: 48px;
  min-width: 48px;
  width: 48px;
  overflow: hidden;
  border-radius: 24px;
  background-color: var(--theme-accent);

  &:hover {
    background-color: var(--theme-accent-hover);
  }
}

.image-field {
  position: absolute;
  min-height: 48px;
  height: 48px;
  min-width: 48px;
  width: 48px;
  border-radius: 24px;
  opacity: 0;
}

.publish-button {
  margin-left: 24px;
  width: 120px;
}