<div class="chirp">

  <div class="chirpAuthorPictureBox">
    <img class="chirpAuthorPicture" [src]="author.picture" [alt]="author.username">
  </div>

  <div class="chirpBody">

    <div class="chirpHeader">

      <div class="chirpAuthorLine">
        <div class="chirpUsername">
          <p class="text-highlight">{{ author.username }}</p>
        </div>
        <div class="chirpHandle">
          <p class="text-light">@{{ author.handle }}</p>
        </div>
        <div class="chirpTimestamp">
          <p class="text-light">{{ timestamp }}</p>
        </div>
      </div>
  
      <div class="chirpDelete">
        <object type="image/svg+xml">
          <img class="miniIconButton" src="assets/svgIcons/delete_dark.svg"/>
        </object>
      </div>
  
    </div>
  
    <div class="chirpContent">
      <div class="chirpText">
        <p class="text-normal">{{ text }}</p>
      </div>
      <div *ngIf="image" class="chirpImageBox">
        <img class="chirpImage" [src]="image">
      </div>
    </div>
  
    <div class="chirpButtons">
  
      <div class="chirpStars">
        <div class="chirpStarButton">
          <object type="image/svg+xml">
            <img class="miniIconButton" src="assets/svgIcons/star_dark.svg"/>
          </object>
        </div>
        <div class="chirpStarCount">
          <p class="text-small-light">{{ starCount }}</p>
        </div>
      </div>
  
      <div class="chirpAnswers">
        <div class="chirpAnswerButton">
          <object type="image/svg+xml">
            <img class="miniIconButton" src="assets/svgIcons/answer_dark.svg"/>
          </object>
        </div>
        <div class="chirpAnswerCount">
          <p class="text-small-light">{{ answerCount }}</p>
        </div>
      </div>
  
    </div>

  </div>

</div>