<header>
  <nav>
    <div class="iconGroup">
      <div class="navbarLogo">
        <object type="image/svg+xml">
          <img class="svg-icon" src="assets/logo/text_accent.svg"/>
        </object>
      </div>
      <div class="navbarButton">
        <object type="image/svg+xml">
          <img class="svg-icon" src="assets/svgIcons/home_filled_dark.svg"/>
        </object>
      </div>
      <div class="navbarButton">
        <object type="image/svg+xml">
          <img class="svg-icon" src="assets/svgIcons/profile_dark.svg"/>
        </object>
      </div>
      <div class="navbarButton">
        <object type="image/svg+xml">
          <img class="svg-icon" src="assets/svgIcons/search_dark.svg"/>
        </object>
      </div>
    </div>
    <div class="iconGroup">
      <div class="navbarButton">
        <object type="image/svg+xml">
          <img class="svg-icon" src="assets/svgIcons/settings_dark.svg"/>
        </object>
      </div>
      <div class="navbarButton">
        <object type="image/svg+xml">
          <img class="svg-icon" src="assets/svgIcons/signout_dark.svg"/>
        </object>
      </div>
    </div>
  </nav>
</header>