<div class="global__centered-container">
  <div class="global__form-container">
    <div class="main-logo-box">
      <img class="main-logo" src="assets/logo/full_logo_accent.svg"/>
    </div>
    <form [formGroup]="loginForm" class="form-fields-block" (ngSubmit)="onLoginButton()">
      <input type="email" class="text-input global__text-normal" formControlName="email" placeholder="Email" required>
      <p
        *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
        class="global__form-error"
      >Ce champ est requis</p>
      <input type="password" class="text-input global__text-normal" formControlName="password" placeholder="Mot de passe" required>
      <p
        *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
        class="global__form-error"
      >Ce champ est requis</p>
      <button class="global__accent-button login-page-button" type="submit" [disabled]="loginForm.invalid">Connexion</button>
      <button class="global__accent-button login-page-button" (click)="onSignupButton()">S'inscrire</button>
    </form>
  </div>
</div>