* {
  display: flex;
}

@media only screen and (max-height: 576px) {
  .global__centered-container {
    outline: 0;
    padding: 0;
  }
}

.main-logo-box {
  width: 144px;
  height: 144px;
  margin: auto;
}

.main-logo {
  width: 144px;
  height: 144px;
}

.login-page-button {
  margin-top: 24px;
  width: 100%
}