<div class="newChirp">

  <div class="chirpAuthorPictureBox">
    <img
      class="chirpAuthorPicture clickable"
      [src]="connectedUser.picture"
      [alt]="connectedUser.username"
      (click)="onConnectedUserClick()"
    >
  </div>

  <div class="newChirpBody">
  
    <div class="newChirpContent">
      <textarea autosize [minRows]="1" maxlength="400" placeholder="Quoi de neuf ?" class="newChirpText"></textarea>
      <div *ngIf="image" class="newChirpImageBlock">
        <div class="newChirpImageBox">
          <img class="newChirpImage" src="/assets/chirpImages/1.png">
        </div>
        <div class="removeImageButton" (click)="onRemoveImageClick()">
          <object type="image/svg+xml">
            <img class="miniIconButton" src="assets/svgIcons/x_dark.svg"/>
          </object>
        </div>
      </div>
    </div>

    <div class="buttonRow">
      <button class="accentTextButton publishButton" (click)="onPublishClick()">Publier</button>
      <button class="accentIconButton imageButton" (click)="onAddImageClick()">
        <object type="image/svg+xml">
          <img src="assets/svgIcons/image.svg"/>
        </object>
      </button>
    </div>
  
    <div class="newChirpButtons">
  
    </div>

  </div>

</div>