<div class="stickyBlock">
  <app-navbar></app-navbar>
  <app-title-banner></app-title-banner>
</div>
<div class="verticalContainer">
  <app-new-chirp></app-new-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
  <app-chirp></app-chirp>
</div>