* {
  display: flex;
}

header {
  width: 100%;
  margin: auto;

  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  background-color: var(--theme-bg);
  border-bottom: 2px solid var(--theme-border);

  z-index: 1;
}

nav {
  height: 80px;
  width: 840px;
  max-width: 100%;
  margin: auto;

  align-items: center;
  justify-content: space-between;
}

.navbarLogo {
  margin-left: 16px;
  height: 48px;
  width: 48px;

  overflow: hidden;

  border-radius: 24px;
  
  transition: 0.2s;

  &:hover {
    width: 228px;
    border-radius: 0px;
  }
}

.appLogo {
  min-height: 48px;
  min-width: 228px;
}

.navbarButton {
  height: 48px;
  width: 48px;
  margin-left: 16px;

  border-radius: 24px;

  transition: 0.1s;
}

.navbar-padding {
  height: 48px;
  width: 16px;
}

.navbarButtonRight {
  height: 48px;
  width: 48px;
  margin-right: 16px;

  border-radius: 24px;

  transition: 0.1s;
}

.navbarButton:hover, .navbarButtonRight:hover {
  background-color: var(--theme-bg-hover);
}

.navbarButton:active, .navbarButtonRight:active {
  background-color: var(--theme-bg-select);
}