<header>
  <nav>
    <div class="iconGroup">
      <div class="navbarLogo">
        <img class="appLogo" src="assets/logo/text_accent.svg"/>
      </div>
      <div class="navbarButton" routerLink="app/timeline">
        <img *ngIf="currentPage === 'timeline'" class="global__icon-button" src="assets/svgIcons/home_filled_dark.svg"/>
        <img *ngIf="currentPage !== 'timeline'" class="global__icon-button" src="assets/svgIcons/home_dark.svg"/>
      </div>
      <div class="navbarButton">
        <img *ngIf="currentPage === 'ownProfile'" class="global__icon-button" src="assets/svgIcons/profile_filled_dark.svg"/>
        <img *ngIf="currentPage !== 'ownProfile'" class="global__icon-button" src="assets/svgIcons/profile_dark.svg"/>
      </div>
      <div class="navbarButton">
        <img *ngIf="currentPage === 'search'" class="global__icon-button" src="assets/svgIcons/search_filled_dark.svg"/>
        <img *ngIf="currentPage !== 'search'" class="global__icon-button" src="assets/svgIcons/search_dark.svg"/>
      </div>
    </div>
    <div class="iconGroup">
      <div class="navbarButtonRight">
        <img *ngIf="currentPage === 'settings'" class="global__icon-button" src="assets/svgIcons/settings_filled_dark.svg"/>
        <img *ngIf="currentPage !== 'settings'" class="global__icon-button" src="assets/svgIcons/settings_dark.svg"/>
      </div>
      <div class="navbarButtonRight" (click)="onLogoutButton()">
        <img class="global__icon-button" src="assets/svgIcons/logout_dark.svg"/>
      </div>
    </div>
  </nav>
</header>