<div class="global__fixed-block-top">
  <app-navbar [currentPage]="'timeline'"></app-navbar>
  <app-title-banner [currentTitle]="'Derniers chirps'"></app-title-banner>
</div>
<div class="global__vertical-container">
  <div class="global__header-offset-block"></div>
  <app-new-chirp [placeholderText]="'Quoi de neuf ?'" [replyToId]="null" (newChirp)="onNewChirp()"></app-new-chirp>
  <app-chirp
    *ngFor="let chirp of chirps$ | async"
    [viewType]="'normal'"
    [chirp]="chirp"
    [chirpsStarredByConnectedUser]="chirpsStarredByConnectedUserArray"
    [repliedToChirp]="repliedToChirps.get(chirp.id) || null"
    [authorProfilePicUrl]="(authorProfilePicUrls.get(chirp.author_id) | async) || null"
    [chirpImageUrl]="(chirpImageUrls.get(chirp.id) | async) || null"
    (deleteChirp)="onDeleteChirp()"
  ></app-chirp>
</div>
<div class="global__fixed-block-bottom">
  <app-footer></app-footer>
</div>