<div class="global__fixed-block-top">
  <app-navbar [currentPage]="'settings'"></app-navbar>
  <app-title-banner [currentTitle]="'Paramètres'"></app-title-banner>
</div>
<div class="global__vertical-container">
  <div class="global__header-offset-block"></div>
  <app-section-tabs [tabs]="settingsTabs" [selectedTabIndex]="selectedSettingsTabIndex" (tabClicked)="onTabClick($event)"></app-section-tabs>

  <div *ngIf="selectedSettingsTabIndex === 0">
    <app-profile-update-form></app-profile-update-form>
  </div>

  <div *ngIf="selectedSettingsTabIndex === 1">
    <app-password-update-form></app-password-update-form>
  </div>

  <div *ngIf="selectedSettingsTabIndex === 2">
    <app-theme-selector></app-theme-selector>
  </div>

  <div *ngIf="selectedSettingsTabIndex === 3">
    <app-account-delete-form></app-account-delete-form>
  </div>

  <div class="global__footer-offset-block"></div>
</div>
<div class="global__fixed-block-bottom">
  <app-footer></app-footer>
</div>