<div class="global__fixed-block">
  <app-navbar [currentPage]="currentPage"></app-navbar>
  <app-title-banner [currentTitle]="currentTitle"></app-title-banner>
</div>
<div class="global__vertical-container">
  <div class="global__header-offset-block"></div>
  <app-chirp [viewType]="'focused'" *ngIf="focusedChirp$ | async as focusedChirp" [chirp]="focusedChirp" (deleteChirp)="onDeleteChirp()"></app-chirp>
  <app-new-chirp [placeholderText]="'Votre réponse...'" [replyToId]="chirpId" (newChirp)="onNewReply()"></app-new-chirp>
  <app-chirp [viewType]="'normal'" *ngFor="let chirp of replyChirps$ | async" [chirp]="chirp" (deleteChirp)="onDeleteReply()"></app-chirp>
</div>