<div class="global__form-container">
  <form [formGroup]="passwordForm" class="global__form-fields-block" (ngSubmit)="onUpdateButton()">
    <div class="global__form-items-row">
      <input type="password" class="global__text-input global__text-normal width-full" formControlName="oldPassword" placeholder="Ancien mot de passe *">
    </div>
    <div>
      <p *ngIf="passwordForm.get('oldPassword')?.invalid && passwordForm.get('oldPassword')?.touched" class="global__form-error">
        {{ getFormControlErrorText(passwordForm.get('oldPassword')) }}
      </p>
    </div>
    <div class="global__form-items-row">
      <input
        type="password"
        class="global__text-input global__text-normal width-full"
        formControlName="newPassword"
        placeholder="Nouveau mot de passe *"
        [ngClass]="{ 'invalid-new-pw': passwordForm.hasError('sameAsOldPassword') }"
      >
    </div>
    <div>
      <p *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched" class="global__form-error">
        {{ getFormControlErrorText(passwordForm.get('newPassword')) }}
      </p>
      <p *ngIf="passwordForm.get('newPassword')?.valid && passwordForm.get('newPassword')?.touched && passwordForm.hasError('sameAsOldPassword')" class="global__form-error">
        {{ getFormControlErrorText(passwordForm) }}
      </p>
    </div>
    <div class="global__form-items-row">
      <input
        type="password"
        class="global__text-input global__text-normal width-full"
        formControlName="newPassword2"
        placeholder="Répétez le nouveau mot de passe"
        [ngClass]="{ 'invalid-pw2': passwordForm.hasError('passwordsMismatch') }"
      >
    </div>
    <div>
      <p *ngIf="passwordForm.get('newPassword2')?.invalid && passwordForm.get('newPassword2')?.touched" class="global__form-error">
        {{ getFormControlErrorText(passwordForm.get('newPassword2')) }}
      </p>
      <p *ngIf="passwordForm.get('newPassword2')?.valid && passwordForm.get('newPassword2')?.touched && passwordForm.hasError('passwordsMismatch')" class="global__form-error">
        {{ getFormControlErrorText(passwordForm) }}
      </p>
    </div>
    <div class="global__form-items-row">
      <button class="global__accent-button width-full" type="submit" [disabled]="passwordForm.invalid">Mettre à jour</button>
    </div>
    <div class="global__form-confirm-box">
      <p class="global__text-normal" *ngIf="passwordUpdateResult">Mot de passe mis à jour</p>
    </div>
  </form>
</div>