* {
  display: flex;
}

.focusedChirp {
  padding: 24px 24px 0;
  border: solid var(--theme-border);
  border-width: 0;
  flex-direction: column;
}

.chirpHeader {
  justify-content: space-between;
  width: 100%;
}

.chirpAuthorNameBlock {
  margin-left: 24px;
  flex-direction: column;
}

.chirpDeleteButton {
  height: 16px;
}

.chirpContent {
  flex-direction: column;
  margin-top: 24px;
  width: 100%;
}

.chirpImageBox {
  margin-top: 24px;
}

.chirpImage {
  width: 100%;
  border-radius: 24px;
}

.chirpTimestamp {
  margin-top: 24px;
}

.chirpButtons {
  margin-top: 24px;
}

.chirpStars, .chirpAnswers {
  width: 72px;
}

.chirpAnswers {
  margin-left: 48px;
}

.chirpStarCount, .chirpAnswerCount {
  margin-left: 8px;
}

.chirpStarredStarCount {
  color: var(--theme-accent-variant);
}

hr {
  margin: 24px 0 0;
  width: 100%;
  color: var(--theme-border);
}