<div class="focusedChirp">

  <div class="chirpHeader">

    <div class="chirpAuthorBlock">
      <div
        class="chirpAuthorPictureBox"
        (click)="onAuthorClick($event)"
      >
        <img
          class="chirpAuthorPicture clickable"
          [src]="chirp.picture === 'default' ? 'assets/userPictures/default.png' : chirp.picture"
          [alt]="chirp.username"
        >
      </div>
      <div
        class="chirpAuthorNameBlock clickable"
        (click)="onAuthorClick($event)"
      >
        <div class="chirpUsername">
          <p class="text-highlight">{{ chirp.username }}</p>
        </div>
        <div class="chirpHandle">
          <p class="text-light">@{{ chirp.handle }}</p>
        </div>
      </div>      
    </div>

    <div class="chirpDeleteBlock">
      <div
        class="chirpDeleteButton"
        (click)="onDeleteClick($event)"
        (mouseenter)="onDeleteMouseEnter()"
        (mouseleave)="onDeleteMouseLeave()"
      >
        <object *ngIf="!deleteHovered" type="image/svg+xml">
          <img class="miniIconButton" src="assets/svgIcons/delete_dark.svg"/>
        </object>
        <object *ngIf="deleteHovered" type="image/svg+xml">
          <img class="miniIconButton" src="assets/svgIcons/delete_accent1.svg"/>
        </object>
      </div>
    </div>

  </div>

  <div class="chirpContent">
    <div class="chirpText">
      <p class="text-big">{{ chirp.text }}</p>
    </div>
    <div *ngIf="chirp.image" class="chirpImageBox">
      <img class="chirpImage" [src]="chirp.image">
    </div>
  </div>

  <div class="chirpTimestamp">
    <p class="text-light">Le {{ chirp.timestamp | date: "d MMMM à HH:mm" }}</p>
  </div>

  <div class="chirpButtons">

    <div class="chirpStars">
      <div
        class="chirpStarButton"
        (click)="onStarClick($event)"
        (mouseenter)="onStarMouseEnter()"
        (mouseleave)="onStarMouseLeave()"
      >
        <object *ngIf="!starred && !starHovered" type="image/svg+xml">
          <img class="miniIconButton" src="assets/svgIcons/star_dark.svg"/>
        </object>
        <object *ngIf="!starred && starHovered" type="image/svg+xml">
          <img class="miniIconButton" src="assets/svgIcons/star_accent1.svg"/>
        </object>
        <object *ngIf="starred" type="image/svg+xml">
          <img class="miniIconButton" src="assets/svgIcons/star_filled_accent1.svg"/>
        </object>
      </div>
      <div class="chirpStarCount">
        <p
          class="text-small-light"
          [ngClass]="{ 'chirpStarredStarCount': starred }"
        >{{ chirp.star_count }}</p>
      </div>
    </div>

    <div class="chirpAnswers">
      <div
        class="chirpAnswerButton"
        (click)="onAnswerClick($event)"
        (mouseenter)="onAnswerMouseEnter()"
        (mouseleave)="onAnswerMouseLeave()"
      >
        <object *ngIf="!answerHovered" type="image/svg+xml">
          <img class="miniIconButton" src="assets/svgIcons/answer_dark.svg"/>
        </object>
        <object *ngIf="answerHovered" type="image/svg+xml">
          <img class="miniIconButton" src="assets/svgIcons/answer_accent1.svg"/>
        </object>
      </div>
      <div class="chirpAnswerCount">
        <p class="text-small-light">{{ chirp.reply_count }}</p>
      </div>
    </div>

  </div>

  <hr>

</div>