//* theme colors
:root {
  --theme-bg: #0F1311;
  --theme-bg-transparent: rgba(15, 19, 17, 0.6);
  --theme-bg-hover: #1D211F;
  --theme-bg-select: #2C302E;
  --theme-text: #FFFFFF;
  --theme-text-light: #A5A7A6;
  --theme-border: #5A5D5B;

  --theme-accent: #00DF77;
  --theme-accent-hover: #00D270;
  --theme-accent-variant: #00DFB0;
  --theme-red: #df002f;
}


//* Text formatting
* {
  font-family: 'Cabin', sans-serif;
  color: var(--theme-text);
  // outline: 1px solid var(--theme-bg-select);
}

a {
  text-decoration-line: none;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  margin: 0 24px 0;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: var(--theme-accent);
  &:hover {
    color: var(--theme-accent-hover);
    text-decoration-line: underline;
  }

  &.global__text-highlight {
    color: inherit;
    &:hover {
      text-decoration-line: underline;
    }
  }
}

.global__text-highlight {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
}

.global__text-big {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.global__text-normal {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.global__text-light {
  font-size: 16px;
  line-height: 24px;
  color: var(--theme-text-light);
}

.global__text-small-light {
  font-size: 12px;
  line-height: 16px;
  color: var(--theme-text-light);
}

.global__form-error {
  font-size: 12px;
  line-height: 16px;
  color: var(--theme-red);
  margin-left: 24px;
}

::placeholder {
  color: var(--theme-border);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--theme-border);
}

::-ms-input-placeholder {
  color: var(--theme-border);
}


//* Page containers

html, body, app-root {
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: var(--theme-bg);
  overflow-x: hidden;
}

.global__centered-container {
  width: 840px;
  max-width: 100vw;
  outline: 2px solid var(--theme-border);
  border-radius: 24px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 72px 0;
}

.global__form-container {
  max-width: 80vw;
  width: 408px;
  margin: auto;
  flex-direction: column;
}

.global__vertical-container {
  max-width: 840px;
  min-height: 100vh;
  outline: 2px solid var(--theme-border);
  margin: auto;
}

.global__fixed-block {
  position: fixed;
  width: 100%;
  top: 0;
}

.global__header-offset-block {
  height: 144px;
}

//* buttons & form items

button {
  cursor: pointer;
}

.global__accent-button {
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: white;
  background-color: var(--theme-accent);
  border: none;
  border-radius: 24px;
  transition: 0.1s;

  &:enabled:hover {
    background-color: var(--theme-accent-hover);
  }

  &:enabled:active {
    background-color: var(--theme-accent-hover);
  }

  &:disabled {
    opacity: 50%;
  }
}

.global__accent-icon-button {
  height: 48px;
  width: 48px;
  padding: 0;
  background-color: var(--theme-accent);
  border: none;
  border-radius: 24px;
  transition: 0.1s;

  &:hover {
    background-color: var(--theme-accent-hover);
  }

  &:active {
    background-color: var(--theme-accent-hover);
  }
}

.global__icon-button {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.global__mini-icon-button {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

textarea {
  background-color: var(--theme-bg);
  border: none;
  outline: none;
  resize: none;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  transition: 0.2s;
}

//* misc

.global__profile-pic-box {
  min-height: 48px;
  min-width: 48px;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  overflow: hidden;
  margin-right: 24px;
}

.global__profile-pic {
  height: 48px;
  width: 48px;
}

.global__clickable {
  cursor: pointer;
}