* {
  display: flex;
}

.titleBanner {
  min-height: 64px;
  max-width: 840px;
  width: 840px;
  margin: auto;

  align-items: center;
  
  background-color: var(--theme-bg-transparent);
  outline: 2px solid var(--theme-border);
  transition: background-color 0.2s, outline 0.2s;

  backdrop-filter: blur(12px);
}